# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/
myenv/

# PyTorch model artifacts
*.pth
*.pt
*.pth.gz

# Dataset and temporary files
dataset/
dataset_all/
heart_disease_prediction/myenv/
temp_ecg_for_streamlit.png

# Streamlit and notebook artifacts
*.log
